<h3>Welcome to Bojanglement!</h3>
<br />
<br />
<div class="row">
    <div class="col-sm-2">
        <div class="thumbnail" (click)="goTo('pseudolocalization')">
            <img class="service-icon" src="./assets/services/pseudolocalization.png" width="64" height="64" />
            <div class="caption">
                <h4>Pseudolocalization</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail" (click)="goTo('guid-generator')">
            <img class="service-icon" src="./assets/services/guid-generator.png" width="64" height="64" />
            <div class="caption">
                <h4>GUID Generator</h4>
            </div>
        </div>
    </div>
</div>
