.thumbnail {
    background:transparent;
    border: 1px solid transparent;
    padding: 20px 0px;
    min-width:180px;
}
.thumbnail:hover {
    cursor:pointer;
}

.thumbnail .service-icon {
    width:128px;
    height:128px;
    transition:2.3s;
}
    .thumbnail:hover .service-icon {
        width: 128px;
        height: 128px;
        transform: rotate(500deg)
    }

.thumbnail .caption {
    text-align: center;
    padding: 10px 0;
}
