
<br />
<div class="row">
    <div class="col-sm-3 col-sm-push-3">
        <div class="thumbnail" (click)="goTo('pseudolocalization')">
            <img class="service-icon" src="./assets/services/pseudolocalization.png" width="64" height="64" />
            <div class="caption">
                <h5>Pseudolocalization</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-push-3">
        <div class="thumbnail" (click)="goTo('guid-generator')">
            <img class="service-icon" src="./assets/services/guid-generator.png" width="64" height="64" />
            <div class="caption">
                <h5>GUID Generator</h5>
            </div>
        </div>
    </div>
</div>
